*{
box-sizing: border-box;
margin:0;
padding:0;
}
*{

    text-align: center;


}

li{

cursor:pointer;

}
a:active{

    color:rgb(98, 195, 98);

}



body{
font-family: Arial;
background-color:#f4f4f4;
}

.entro{

color:rgb(146, 23, 23);
text-align:center;
 box-sizing:border-box;
}


.heed{

background-color: rgb(146, 23, 23);

color:rgb(246, 244, 244);
text-align:center;
margin:0 px;
padding:20px;

}
a{

text-decoration: none;

}
.nav{
margin-top: 20px;


}


nav ul  li {
list-style: none;

display: inline;
 margin : 4px;
}


nav ul li:hover{
color:gold;

}
.back{
height: 300px;

background-image: url('images/restaurant cover image.jpg');
background-position: center;
background-size:cover;
background-repeat:no-repeat ;

display: flex;
justify-content: center;
align-items: center;
}
.text-back{

color: #f4f4f4;
text-align: center;
font-weight: bold;

}
.about{
margin: 0;
padding: 30px;

    color:rgb(146, 23, 23);
font-weight: bold;
text-decoration:underline ;
text-decoration-color:rgb(131, 126, 126) ;

font-size: larger;
}
.pp{

    color:rgb(168, 31, 31);
    font-weight: bold;
    
}
.about2{
margin: 0;
padding-top: 60px;

color:rgb(146, 23, 23);
font-weight: bold;
text-decoration:underline ;
text-decoration-color:rgb(131, 126, 126) ;

font-size: larger;
}

.cards{

margin-top: 30px ;
 display: flex;
  justify-content: center;
gap:20px;

}
.img1{

border-radius:10px ;
}

.card{

background:white;
padding:30px;
width:200px;
text-align:center;
border-radius:10px;
box-shadow:0 0 10px gray;

}

.card:hover{
transform:scale(1.05);
transition:0.3s;
}




.list{


margin: auto;
margin-top: 30px ;
margin-bottom: 60px;
background-color: #fdfdfd;

padding:20px;
width:200px;
li:hover{

    color:rgb(255, 0, 0);
}
}
.end{
height: 60px;
background-color: black;
color: #f4f4f4;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}


.about3{
color: rgb(146, 23, 23);
text-decoration: underline;
text-decoration-color:gray ;
 font-weight:bold;

}

.table-div{

display: flex;
 justify-content: center;

}
table{



width: 60%;
margin-top: 40px; 
border-collapse: collapse;

}

thead{

color: #f4f4f4;
background-color: rgb(122, 27, 27);

}
th, td 
{
border:1px solid black;
padding:10px;
text-align:center;

}
form{

margin: 40px;




}

input, textarea{
padding:8px;
margin-top:5px;
border:1px solid gray;
}
.click{


cursor:pointer;

}
